.hero {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 95dvh;
}


.leftBox{
display: flex;
flex-direction: column;

}




.heading {
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 4.4rem;
  color: var(--clr-darkBlue);
  font-weight: 700;
  margin-bottom: 6.4rem;
}

.image {
  max-width: 100%; 
  max-height: 100%
}
