/*



--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400


- Line heights
Default: 1.4
tight text:1.1
tighter:1


- Letter spacing


--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:
- Greys


--- 05 SHADOWS


--- 06 BORDER-RADIUS



--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128





*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-white: #fffefe;
  --clr-darkBlue: #11303e;
  --clr-red: #e3393c;
  --clr-lightRed:#e64d50
  --clr-teal: #056e9a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-white);
  color: var(--clr-darkBlue);
}

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;

}

.grid-column--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-column--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-column--4 {
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6.4rem;
}

.grid-center--v {
  align-items: center;
}

/* ========================================================================= */
/* ********************************Carousel******************************** */
/* ========================================================================= */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  height: 95dvh;
}
.embla__slide {
  flex: 0 0 100%;
  max-width: 600px;
}
