/*



--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400


- Line heights
Default: 1.4
tight text:1.1
tighter:1


- Letter spacing


--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:
- Greys


--- 05 SHADOWS


--- 06 BORDER-RADIUS



--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 148





*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-white: #fff;
  --clr-darkBlue: #11303e;
  --clr-lightBlue: #415965;
  --clr-red: #e3393c;
  --clr-lightRed: #e64d50;
  --clr-teal: #056e9a;

  --card-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.22) 0px 3px 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-white);
  color: var(--clr-darkBlue);
}

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}
.grid-gap--hlg {
  column-gap: 6.4rem;
}

.grid-gap--hsm {
  column-gap: 3.2rem;
}

.grid-gap--vsm {
  row-gap: 3.2rem;
}

.grid-gap--vlg {
  row-gap: 6.4rem;
}

.grid-column--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-column--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-column--4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-row--2 {
  grid-template-rows: repeat(2, 1fr);
}
.grid-row--3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid-center--v {
  align-items: center;
}

/* .grid-row--gap {
  row-gap: 3.2rem;
} */

/* ========================================================================= */
/* ********************************Carousel******************************** */
/* ========================================================================= */

.embla {
  max-width: 48rem;
  height: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  height: 100%;
  padding-left: var(--slide-spacing);
}
.embla__slide__item {
  border-radius: 0.8rem;
  font-size: 1.6rem;
  padding: 2.4rem 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.embla__slide__itemImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
.embla__slide__itemAuthor {
  font-weight: 600;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  color: var(--clr-lightRed);
  width: 35%;
  height: 35%;
}

/* ========================================================================= */
/* ********************************Button******************************** */
/* ========================================================================= */



.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  width: 50%;
  border: 1px solid var(--clr-darkBlue);
  z-index: 1;
  text-transform: capitalize;
}

.btn-primary:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: var(--clr-darkBlue);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  color: #fff;
}

.btn-primary:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-primary:active {
  top: 2px;
}
