.partners {
  margin-bottom: 12.8rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5.2rem;
}
.logo_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 7.4rem;
  filter: brightness(0);
  opacity: 60%;
}
